.header__burger-menu {
	display: none;
}

@media (max-width: 1024px) {
	.menu {
		display: none;
	}

	.header__burger {
		cursor: pointer;
		transition: all 0.3s;
		z-index: 5;
		display: block;
		position: relative;
		margin-right: 20px;
		width: 30px;
		height: 20px;

		&::after,
		&::before,
		span {
			transition: all 0.2s;
			z-index: 3;
			content: '';
			position: absolute;
			background-color: #000;
			width: 100%;
			height: 2px;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: translateY(-50%);
		}
		&-menu {
			position: fixed;
			top: -100%;
			right: 0;
			display: flex;
			flex-direction: column;
			text-align: center;
			transition: all 0.5s ease 0s;
			background-color: #fff;
			width: 100%;
			min-height: 300px;
			padding-top: 70px;
			padding-bottom: 20px;
			overflow: auto;

			&.active {
				top: 0;
			}
			&-link {
				min-width: 300px;
				margin: 0 auto;
				padding: 20px 0;
				border-bottom: 1px solid #ccc;
				&:last-child {
					border: none;
				}
			}
		}

		&.active {
			position: fixed;
			right: 10px;
			span {
				background-color: transparent;
			}
			&::after {
				top: 50%;
				transform: rotate(-45deg);
			}
			&::before {
				top: 50%;
				transform: rotate(45deg);
			}
		}
	}
}

@media (max-width: 476px) {
	.header__inner-top {
		position: fixed;
		height: 50px;
		background-color: #fff;
		z-index: 50;
		align-items: start;
	}
	body.lock {
		overflow: hidden;
	}
	.header__burger-menu {
		height: 100%;
	}
}
