.footer {
	border-top: 2px solid #ecebeb;
	padding-bottom: 75px;
	// .footer__logo

	&__logo {
		padding: 76px 0 38px;
		text-align: center;
	}

	// .footer__inner

	&__inner {
		display: flex;
		justify-content: center;
	}

	// .footer__inner-item

	&__inner-item {
		transition: all 0.3s;
		margin-right: 93px;
		font-weight: 600;
		font-size: 15px;
		line-height: 153%;
		color: #151519;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: #fd576c;
		}
	}
}
